build/
build*/
Testing/
*.user
compile_commands.json
.cache/
*.o
*.a
*.so
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
install_manifest.txt
moc_*
qrc_*
ui_*
.qt/
*.log
_CPack_Packages/
*.tar.gz
*.deb
.vscode/
.idea/
